body {
  background-image: url(files/1.gif);
  background-repeat: no-repeat;
  background-size: 75%;
  background-color: #FCFCFF;
  font-family: "Arial", sans-serif;
  margin-left: 2%;
}

.main-header-logo {
  /* position: fixed; */
}

.site-navigation {
  display: inline-block;
  position: fixed;
  list-style: none;
  margin: 0px;
  padding: 0px;
  right: 50px;
}

.site-navigation li {
  display: inline;
  white-space: nowrap;
}

a {
  color: #001AFF;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
}

a:hover {
  color: #99A3FF;
}

h1 {
  font-size: 500%;
  margin: 25% 0% 2% 0%;
  line-height: 100%;
  width: 90%;
    /* font-family: /*"Press Start 2P", cursive,*/ "Arial", sans-serif; */
}

h2 {
  font-size: 200%;
}

legend h3 {
  font-size: 100%;
}

.phone {
  font-size: 50px;
  margin: 2% 0% 5% 0%;
}

section {
  height: 700px;
}

section.services {
  background: url(files/2.gif) no-repeat center;
  background-size: 75%;
}

.services p {
  width: 50%;
}

.articl-item {
  display: inline-block;
}

.articles-list {
  /* background-color: red; */
  width: 60%;
  margin: auto;
}

.card {
  background-color: #EEEEEF;
  padding: 10px;
}

form {
  background-color: #EEEEEF;
  border-radius: 10px;
  width: 40%;
  padding: 1px 20px 40px 20px;
}

/* цвет фокуса на сылках и полях тоже нужен  */


textarea,
label,
input {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

input, textarea {
  float: right;
  text-align: left;
}

label {
  /* float: left; */
}


input[type="text"] {
  /* margin-left: 121px; */
}

input[type="email"] {
  /* clear: left; */
}


label textarea {
    vertical-align: text-top;
}

button {
  clear: both;
  font-size: 18px;
  width: 200px;
  height: 62px;
  background-color: #001AFF;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #3348FF;
}
